<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ayst.factorytest"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission
        android:name="android.permission.LOCAL_MAC_ADDRESS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FactoryTest">
        <activity android:name=".items.NarTestActivity"></activity>
        <activity android:name=".items.AccSensorActivity" />
        <activity android:name=".items.TemperatureSensorTestActivity" />
        <activity android:name=".items.LightSensorActivity" />
        <activity android:name=".items.BatteryTestActivity" />
        <activity android:name=".items.BacklightTestActivity" />
        <activity android:name=".items.HumanSensorActivity" />
        <activity android:name=".items.CameraTestActivity" />
        <activity android:name=".items.KeyTestActivity" />
        <activity android:name=".items.RecordTestActivity" />
        <activity android:name=".items.SpeakerTestActivity" />
        <activity android:name=".items.TouchTestActivity" />
        <activity android:name=".items.LcdTestActivity" />
        <activity android:name=".items.MobileNetTestActivity" />
        <activity android:name=".items.EthernetTestActivity" />
        <activity android:name=".items.BluetoothTestActivity" />
        <activity android:name=".items.WifiTestActivity" />
        <activity android:name=".items.InfoTestActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>